<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: "#da373d",
            },
          },
        },
      };
    </script>
    <style type="text/tailwindcss">
      @layer utilities {
        .content-auto {
          content-visibility: auto;
        }
      }
    </style>
    <script src="https://kit.fontawesome.com/d6fdc2471f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  </head>
  <body>
    <div class="text-slate-800">
      <div class="flex w-full flex-col">
        <div class="flex justify-center pt-12 md:justify-start md:pl-12">
          <a href="/home" class="text-2xl font-bold text-blue-400"><i class="fa-solid fa-wheat-awn" style="color: #74C0FC;"></i> tWheat </a>
        </div>
        <div class="my-auto mx-auto flex flex-col justify-center px-6 pt-8 md:justify-start lg:w-[28rem]">
          <p class="text-center text-3xl font-bold md:text-left md:leading-tight">Update your profile</p>
          <form class="flex-l items-center justify-center gap-4" method="post" action="/upHeader" enctype="multipart/form-data">
            <%if(result[0].headerpic == null)
                    { %>
                      <div class="flex items-center justify-center mt-5 h-[150px] w-[370px] overflow-hidden bg-gray-300">
                      </div>
                  <% } else { %>
                      <div class="flex items-center justify-center mt-5 h-[150px] w-[370px] overflow-hidden">
                        <img class="object-cover h-[100%] max-w-[100%]" src="uploads/<%=result[0].headerpic%>" alt="">
                      </div>
                  <% } %>
                  <div class="flex flex-row justify-between">
                      <input type="file" name="headerpic" class="mt-8">
                      <button type="submit" class="mt-6 rounded-lg bg-blue-400 px-4 py-2 text-center text-base font-semibold text-white shadow-md outline-none ring-blue-500 ring-offset-2 transition hover:bg-blue-700 focus:ring-2">update</button>
                </div>
          </form>
          <%if(result[0].ppic == null)
                    { %>
                      <div class="flex items-center justify-center mt-5 max-h-[100px] overflow-hidden">
                        <img class="object-cover h-[100px] max-w-[100px] rounded-full" src="img/images.png" alt="">
                      </div>
                  <% } else { %>
                      <div class="flex items-center justify-center mt-5 h-[100px] overflow-hidden">
                        <img class="object-cover h-[100px] max-w-[100px] rounded-full" src="uploads/<%=result[0].ppic%>" alt="">
                      </div>
                  <% } %>
          <form class="flex flex-col items-stretch pt-3 md:pt-8" method="post" action="/edtprfl" enctype="multipart/form-data">
            <div class="mb-4">
              <label for="file-input" class="sr-only">Choose file</label>
              <input type="file" name="ppic" id="file-input" class="block w-full border border-gray-200 shadow-sm rounded-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none
                file:bg-gray-50 file:border-0
                file:me-4
                file:py-3 file:px-4">
          </div>
            <div class="flex flex-col pt-4">
              <div class="relative flex overflow-hidden rounded-md border-2 transition focus-within:border-blue-600">
                <input type="text" name="fname" class="w-full flex-shrink appearance-none border-gray-300 bg-white py-2 px-4 text-base text-gray-700 placeholder-gray-400 focus:outline-none" placeholder="First Name" value= <%=result[0].fname%>>
              </div>
            </div>
            <div class="flex flex-col pt-4">
              <div class="relative flex overflow-hidden rounded-md border-2 transition focus-within:border-blue-600">
                <input type="text" name="mname" class="w-full flex-shrink appearance-none border-gray-300 bg-white py-2 px-4 text-base text-gray-700 placeholder-gray-400 focus:outline-none"  value= <%=result[0].mname%>  >
              </div>
            </div>
            <div class="flex flex-col pt-4">
              <div class="relative flex overflow-hidden rounded-md border-2 transition focus-within:border-blue-600">
                <input type="text" name="lname" class="w-full flex-shrink appearance-none border-gray-300 bg-white py-2 px-4 text-base text-gray-700 placeholder-gray-400 focus:outline-none" placeholder="Last Name" value= <%=result[0].lname%> >
              </div>
            </div>
            <div class="flex flex-col pt-4">
              <div class="relative flex overflow-hidden rounded-md border-2 transition focus-within:border-blue-600">
                <textarea name="about" class="w-full flex-shrink appearance-none border-gray-300 bg-white py-2 px-4 text-base text-gray-700 placeholder-gray-400 focus:outline-none" placeholder="About"><%=result[0].about%> </textarea>
              </div>
            </div>
            <button type="submit" class="mt-6 rounded-lg bg-blue-400 px-4 py-2 text-center text-base font-semibold text-white shadow-md outline-none ring-blue-500 ring-offset-2 transition hover:bg-blue-700 focus:ring-2">update</button>
          </form>
          <%if(result[0].status === 0)
                    { %>
                      <a href="/verifyprofile"><button type="submit" class="mt-6 mb-6 rounded-lg bg-blue-400 px-4 py-2 text-center text-base font-semibold text-white shadow-md outline-none ring-blue-500 ring-offset-2 transition hover:bg-blue-700 focus:ring-2">Verify Profile</button></a>
                  <% } else { %>
                    <div class="mt-6 mb-6 rounded-lg bg-blue-400 px-4 py-2 text-center text-base font-semibold text-white shadow-md outline-none ring-blue-500 ring-offset-2 transition hover:bg-blue-700 focus:ring-2">Verified</div>
                  <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
